.name{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 0;
}

.ocupation{
    font-family: Montserrat;
    font-weight: thin;
    font-size: 1em;
    margin-top: 0;
}